

<html>
  <head></head>
  <body>
    <h1>Hello, Welcome to Guitar Finder!</h1>
    <ul>
      <% @guitars.each do |guitar| %>
        <li>
        <a href="/guitars/<%= guitar.id %>">
           <%= guitar.name %> - <%= guitar.body %>
        </a>
        </li>
      <% end %>
    </ul>
    <form  action="guitars/new">
      <input type="submit" value="Create New Guitar" />
    </form>

  </body>
</html>
