<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Guitar</title>

  </head>
  <body>
    <h1>Guitar Directory</h1>

    <h3>Add a Guitar</h3>
    <form action="/guitars" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name"/>
        <label for="body">Body_type</label>
      <input type="text" id="body" name="body"/>
      <input class="btn btn-primary" type="submit" value="SUBMIT"/>
    </form>

  </body>
</html>
